
       #corner1 {
        
            border-radius: 25px;
            background: grey;
            padding: 20px; 
            width: 35%;
            height: 15px;  
          
       }
 